<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню игры</title>
</head>
<body>
    <div>
        Вы в меню игры {{game.name}}
        <a href="/game/{{ game.short_name }}/standings">Ссылка на текущую таблицу результатов</a>
        {% if game.round_started %}
            Сейчас идет раунд {{ game.cur_round }}
        {% else %}
            Раунд {{ game.cur_round }} еще не начался
        {% endif %}
    </div>
    {% if user_in_game.is_admin %}
        <div>
            {% for i in answers %}

            {% endfor %}
        </div>
    {% endif %}
</body>
</html>