<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш личный кабинет</title>
</head>
<body>
    <div>
        Добро пожаловать, {{nick}}!
    </div>
    <div>
        Список ваших игр:
        <ul>
            {% for i in games %}
                <li>
                    <a href="game/{{ i.short_name }}"> Войти в {{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if is_super_user %}
        <div>
            Создать игру:
            <form method="post" action="game/create">
                {% csrf_token %}
                {{ form }}
                <input type="submit">
            </form>
        </div>
    {% endif %}
</body>
</html>