<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш личный кабинет</title>
</head>
<body>
    <div>
        Добро пожаловать, {{user.nick}}!
    </div>
    <div>
        Список ваших игр:
        <ul>
            {% for i in games %}
                <li>
                    <a href="game/{{ i.short_name }}"> Войти в {{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if user.is_super_user %}
        <div>
            Создать игру:
            <form method="post" action="game/create">
                {% csrf_token %}
                {{ create_form }}
                <input type="submit">
            </form>
        </div>
    {% endif %}
     <div>
         Войти в игру:
         <form method="post" action="game/enter">
             {% csrf_token %}
             {{ enter_form }}
             <input type="submit">
         </form>
     </div>
</body>
</html>