<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш личный кабинет</title>
</head>
<body>
    <div>
        Добро пожаловать, {{user.nick}}!
    </div>
    <div>
        Список ваших игр:
        <ul>
            {% for i in games %}
                <li>
                    <a href="game/{{ i.short_name }}"> Войти в {{ i.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if user.is_super_user %}
        <div>
            Создать игру:
            <form method="post" action="game/create">
                {% csrf_token %}
                {% for field in create_form %}
                    <div>
                        <div>{{ field.label_tag }}</div>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit">
            </form>
        </div>
    {% endif %}
     <div>
         Войти в игру:
         <form method="post" action="game/enter">
             {% csrf_token %}
                {% for field in enter_form %}
                    <div>
                        <div>{{ field.label_tag }}</div>
                        {{ field }}
                    </div>
                {% endfor %}
             <input type="submit" value="Submit">
         </form>
     </div>
    <div>
        {% if user.is_super_user %}
            Добавить супер юзера
            <form method="post" action="add_super_user">
                {% csrf_token %}
                <div>
                    <input name="nick" type="text">
                </div>
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
</body>
</html>