<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты</title>
</head>
<body>
    <div>
        {% for i in results %}
            {% if not i.is_user_admin %}
                <div> {{ i.user.nick }} </div>
                {% for i in i.user_results %}
                    {% if i %}
                        +
                    {% else %}
                        -
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>